@import "@/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-bgColor text-white tracking-wider;
    }
    input, textarea {
        @apply text-black;
    }
}
